<html lang="en">
</head>
<body>
    <body>
        <header style="margin-bottom: 3%;">
            <h4>Dear Partner,</h4>
        </header>

        <p>
            Your <span style="font-weight:bold">{{property_category_name}}</span> at address <span style="font-weight:bold">{{property_address.street }}, {{property_address.city}}</span> has been listed successfully.
        </p>

        <p>You can view your listing at <a href="http://">HERE</a></p>

        <p>Thank you for working with us!</p>
        <footer style="margin-top: 3%;">
            <p>Best</p>
            <p>Grinmove Team</p>
        </footer>
        </body>
</body>
</html>
