<html lang="en">
<body>
    <body>
        <header style="margin-bottom: 3%;">
            <h4>Dear Partner,</h4>
        </header>

        <p>
            Your Property with unique property ID: <span style="font-weight: bolder; font-style: italic;">
                {{custom_property_id}}</span> 
                has been added successfully.
        </p>

        <p>You can manage your property, such as list, upload media files, add amenities, etc.</p>

        <p>See your property detail <a href="{{link_to_property_detail}}">here</a></p>

        <p>Thank you for working with us!</p>
        <footer style="margin-top: 3%;">
            <p>Best</p>
            <p>Grinmove Team</p>
        </footer>
        </body>
</body>
</html>
