<html lang="en">
<body>
    <body>
        <header style="margin-bottom: 3%;">
            <h4>Hello,</h4>
        </header>
        <p>You requested to change your password. Click <a href="{{reset_url}}">here</a> or on the following link to reset your password.</p>

        <p>
            {{reset_url}}
        </p>
        <p>This link will expire within {{password_reset_token_lifetime}}.</p>

        <footer style="margin-top: 3%;">
            <p>Best</p>
            <p>Grinmove Team</p>
        </footer>
        </body>
</body>
</html>
