<html lang="en">
</head>
<body>
    <body>
        <header style="margin-bottom: 3%;">
            <h4>Dear Partner,</h4>
        </header>

        <p>
            Your <span style="font-weight:bold">{{payment_purpose}} </span>payment order <span style="font-weight: bolder; font-style: italic;">
                {{po_number|safe}}</span> 
                has been approved.
        </p>

        <p>Thank you for working with us!</p>
        <footer style="margin-top: 3%;">
            <p>Best</p>
            <p>Grinmove Team</p>
        </footer>
        </body>
</body>
</html>
