<html>
    <body>
        <header style="margin-bottom: 3%;">
            <h5>Dear Agent,<h5>
        </header>
        <p>Thank you for referring! You are rewarded for your good job.</p>
        <p>Your coupon code is <span style="font-weight:bold">{{referrer_coupon}}</span>. You can use your coupon when listing your properties.</p>

        <p>Enjoy your <span style="font-weight:bold">{{discount_amount}}</span> discount.</p>
        
        <p>Earn more coupons by referring to other agents</p>
        <footer style="margin-top: 3%;">
            <p>Best</p>
            <p>Grinmove Team</p>
        </footer>
    </body>
</html>