<html>
    <body>
        <header style="margin-bottom: 3%;">
            <h5>Dear New Agent,<h5>
        </header>

        <p>
            <span id="congra">Congratulations!</span> on your first move with Grinmove! Your agent has been created.
                Your coupon code is <span style="font-weight: bolder">{{referee_coupon}}</span>. You can use your coupon when listing your properties.
        </p>

        <p>Enjoy your <span style="font-weight: bolder">{{discount_amount}}</span> discount.</p>

        <p>Earn more coupons by referring to other agents</p>

        <a href="http://127.0.0.1:8000/myproperty-api-docmentation/">Check the doc</a>

        <footer style="margin-top: 3%;">
            <p>Best</p>
            <p>Grinmove Team</p>
        </footer>
    </body>
</html>